* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.w-20 {
    width: 20%;
}
.w-30 {
    width: 30%;
}
.w-40 {
    width: 40%;
}
.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-100 {
    width: 100%;
}

.btn{
    background: linear-gradient(#FB934A,#FD4D2F);
    padding: 20px 36px;
    border-radius: 30px;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    text-transform: capitalize;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.5);
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

#banner {
    padding: 100px 0;
}

.banner_content h1 {
    color: #575757;
    font-size: 60px;
    padding-right: 175px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 75px
}

.banner_content h1 span{
    color: #FB984C;
}

.banner_content p {
    font-size: 16px;
    margin-right: 250px;
    margin-bottom: 60px
}

#about{
    background: url(../images/shapes/about-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 71px;
    margin-bottom: 100px;
}

.about_img img{
    width: 60%;
    margin-left: 80px;
    display: block;
}

.about_content h2{
   color: #707070;
   font-size: 50px;
   margin-bottom: 60px;
   font-weight: 700;
   text-transform: capitalize;
}

.about_content p{
   color: #18191F;
   font-size: 16px;
   margin-right: 250px;
   margin-bottom: 60px;
   text-transform: capitalize;
}

.about_content a{
    font-size: 20px;
    text-transform: none;
}

